<!-- {meme: meme, greeting: 'hello world', users: 5};
const meme = meme;
const greeting = greeting;
const users = 5 -->
<h1>Welcome to meme-ory</h1>
<h2>Here is a memes</h2>
<a href="/memes/new">Add a meme</a>
<p><%= greeting %></p>
<p>users: <%= users %></p>
<br></br>


<br></br>
<% if (meme) { %>
    <form action="/memes/<%= meme.id %>/delete" method="post">
        <input type="submit" value="delete meme">
    </form>
    <img src=<%= meme.image %> style="width: auto; height: 200px;" >
        <p style="position: absolute; margin-top: -220px;"><%= meme.topText %></p>
        <p style="position: absolute;"><%= meme.bottomText %></p>
    </img>
<% } %>