<% for(let pokemon of pokemons) { %>
  <img alt=<%= pokemon.name %> src=<%=`/images/${pokemon.number}.gif`%>></img>
  <h1><%= pokemon.name %></h1>
  <h2><%= pokemon.type %></h2>
  <p><%= pokemon.number %></p>
<% } %>
